@font-face {
  font-family: "ManropeRegular";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Limelight"), url("./fonts/Manrope-Regular.woff") format("woff");
}
@font-face {
  font-family: "ManropeMedium";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Limelight"), url("./fonts/Manrope-Medium.woff") format("woff");
}
@font-face {
  font-family: "ManropeSemiBold";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Limelight"), url("./fonts/Manrope-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "ManropeBold";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Limelight"), url("./fonts/Manrope-Bold.woff") format("woff");
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:active,
button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* CLASSES ======================== */
.wrapper {
  overflow: hidden;
  min-height: 100vh;
  flex-direction: column;
  opacity: 0;
  transition: all 1s ease;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .wrapper {
    opacity: 1;
  }
}

.wrapper.active {
  opacity: 1;
}

.main {
  width: 100%;
  flex: 1 1 auto;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

body {
  margin: 0;
  font-family: "ManropeRegular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  background-color: #e5e5e5;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul,
ol {
  list-style: none;
}

/* Слайдер */
.slick-slider {
  min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*    -webkit-box-align: start;*/
  /*    -ms-flex-align: start;*/
  /*    display: block; Для ветикального слайдера*/
  /*    align-items: flex-start;*/
  /*align-items: flex-start; для свойства adaptiveHeight: true    */
}
