@import "../../../index.scss";

.page404 {
	overflow: hidden;
	&__inner {
		position: relative;
		width: 100%;
		height: 70vh;
		& img,
		source {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			object-fit: contain;
			font-family: "object-fit: contain;";
		}
	}
}
