@import "../../../index.scss";

.header-nav {
	@include flex;
	flex: 1 1 auto;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	&__left {
		@include flex;
		flex: 1 1 auto;
		align-items: center;
	}
	&__right {
		@include flex;
		align-items: center;
		flex: 0 1 auto;
	}
}

.nav-right {
	&__list {
		@include flex;
		align-items: center;
	}
}
